<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Login</title>
    <script>
      function getValueById(id) {
        return document.getElementById(id).value;
      }
      function submitLoginForm() {
        const username = getValueById("username-input");
        const password = getValueById("password-input");

        var request = new XMLHttpRequest();
        request.open("POST", "/login");
        request.onreadystatechange = function () {
          if (this.readyState === 4 && this.status === 200) {
            console.log(this.response);
          }
        };

        const form = new FormData();
        form.append("username", username);
        form.append("password", password);
        request.send(form);
      }
    </script>
  </head>
  <body>
    <div class="form-container">
      <h1 class="form-header">Login</h1>

      <div class="form">
        <form>
          <span>
            <label for="username-input">Username:</label>
            <input
              type="text"
              name="username"
              id="username-input"
              placeholder="Username"
            />
          </span>
          <span>
            <label for="password-input">Password:</label>
            <input
              type="password"
              name="password"
              id="password-input"
              placeholder="Password"
            />
          </span>
          <input type="button" onclick="submitLoginForm()" value="Login" />
        </form>
        <div class="navigate-other-form">
          <sub> New User ? Click below to Signup </sub>
          <button>
            <a href="/signup">Signup</a>
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
