{% extends 'base.html' %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
<title>Login</title>
{% endblock %} {% block body %}
<div class="form-container">
  <h1 class="form-header">CSE 312 Project</h1>

  <div class="form">
    <form action="/login" method="POST">
      <span>
        <label for="username-input">Username:</label>
        <input
          type="text"
          name="username"
          id="username-input"
          placeholder="Username"
        />
      </span>
      <span>
        <label for="password-input">Password:</label>
        <input
          type="password"
          name="password"
          id="password-input"
          placeholder="Password"
        />
      </span>
      <input type="submit" name="login" id="login-input" value="Login" />
    </form>
    <div class="navigate-signup">
      <sub> New User ? Click below to Signup </sub>
      <button>Signup</button>
    </div>
  </div>
</div>
{% endblock %}
